/*
!/.git
!/.github
!/.gitignore
!/.LICENCE
!/.README.md
!/Assets
/Assets/*
!/Assets/AvatarImageReader
!/Packages
/Packages/*
!/Packages/com.varneon.avatar-image-reader
/Packages/com.vrchat.core.vpm-resolver/*