# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Python Encoder.iml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\BocuD\Documents\GitHub\AvatarImageReader\Assets\AvatarImageDecoder\Python Encoder\.idea\.idea.Python Encoder.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
